# Handle Imports

In [1]:
from shapely.geometry import Polygon
from agritech_lidar.data_getter import DataGetter
import matplotlib.pyplot as plt
import rasterio as rio
from rasterio.plot import show
from rasterio.plot import plotting_extent
import geopandas as gpd
import laspy
import earthpy as et
import earthpy.spatial as es
import earthpy.plot as ep
import numpy as np

# Use the new package to fetch some slice of an area

In [2]:
getter = DataGetter(area_name='USGS_LPC_TX_South_B8_2018_LAS',
                        boundaries=Polygon([
                            # (xmin, ymin)
                            (-10880908.0, 3040000),
                            # (xmin, ymax)
                            (-10880908.0, 3042000),
                            # (xmax, ymax)
                            (-10879000.0, 3042000),
                            # (xmax, ymin)
                            (-10879000.0, 3040000),
                        ]),
                        # point_types=['Ground', 'Water'],
                        ouput_path="output/temp.las"
                        )
pipeline = getter.build_pipeline()
# print(pipeline)
output = getter.execute()

Building the Pipeline...
folder_name: USGS_LPC_TX_South_B8_2018_LAS_2019/

In [3]:
getter.get_geodf()

          elevation                               geometry
0              1108  POINT (-1087933195.000 304094814.000)
1              1110  POINT (-1087933103.000 304094816.000)
2              1109  POINT (-1087933010.000 304094817.000)
3              1108  POINT (-1087932917.000 304094817.000)
4              1110  POINT (-1087932825.000 304094819.000)
...             ...                                    ...
12845656       1086  POINT (-1087985498.000 304199019.000)
12845657       1088  POINT (-1087985318.000 304199026.000)
12845658       1087  POINT (-1087985344.000 304198934.000)
12845659       1085  POINT (-1087985435.000 304198930.000)
12845660       1086  POINT (-1087985526.000 304198927.000)

[12845661 rows x 2 columns]

In [7]:
getter.geo_df.bounds

                  minx         miny          maxx         maxy
0        -1.087933e+09  304094814.0 -1.087933e+09  304094814.0
1        -1.087933e+09  304094816.0 -1.087933e+09  304094816.0
2        -1.087933e+09  304094817.0 -1.087933e+09  304094817.0
3        -1.087933e+09  304094817.0 -1.087933e+09  304094817.0
4        -1.087933e+09  304094819.0 -1.087933e+09  304094819.0
...                ...          ...           ...          ...
12845656 -1.087985e+09  304199019.0 -1.087985e+09  304199019.0
12845657 -1.087985e+09  304199026.0 -1.087985e+09  304199026.0
12845658 -1.087985e+09  304198934.0 -1.087985e+09  304198934.0
12845659 -1.087985e+09  304198930.0 -1.087985e+09  304198930.0
12845660 -1.087986e+09  304198927.0 -1.087986e+09  304198927.0

[12845661 rows x 4 columns]

In [8]:
getter.geo_df.columns

Index(['elevation', 'geometry'], dtype='object')

In [10]:
getter.geo_df.elevation.plot()

AttributeError: 'Series' object has no attribute 'heatmap'